.episodes {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.episode {
  display: flex;
  gap: 50px;
  background: #000;
  padding: 40px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__genre {
    padding: 5px 16px;
    background: #191919;
    border-radius: 6px;
  }
}